# =========================
# Global Ignores
# =========================

# Node.js dependencies
node_modules/

# All backend .env files (any subfolder except frontend)
# Prevents accidental upload of backend secrets
**/.env
**/.env.*
!nexusshop-frontend/.env
!nexusshop-frontend/.env.*

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Outputs
# =========================
# Frontend / Backend builds
build/
dist/
