# Global ignores
node_modules/
.env
.DS_Store
.env.local
.env.production.local
.env.development.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs (optional for Frontend)
build/
dist/
